* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  overflow: hidden;
  background: black;
  cursor: grabbing;
}
.cemetary{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
  z-index: 2;
  width: 100vw;
  filter: blur(4px);
  opacity: 25%;
}
.author{
  font-family: 'Tangerine', cursive;
  font-weight: 200;
  font-size: 3.5em;
  color: rgb(184, 173, 162);
  position: fixed;
  top: 10%;
  right: 15%;
  z-index: 3;
  text-align: right;
}
.title{
  font-family: 'Helvetica';
  font-weight: 300;
  color: black;
  position: fixed;
  bottom: 5%;
  left: 33%;
  z-index: 3;
}
/* .next{
  width: 30%;
  filter: contrast(1);
  position: absolute;
  bottom: -3%;
  right: -3%;
  z-index: 4;
} */
.next{
  font-family: 'Times New Roman';
  font-size: 20px;
  font-weight: 100;
  position: fixed;
  color: lightgrey;
  bottom: 5%;
  z-index: 3;
  right: 4%;
  cursor: e-resize;
}
.underhand{
  transform:rotate(90deg);
  filter: blur(3px);
  position: absolute;
  width: 70%;
  z-index: 1;
  top:-23%;
  opacity: 60%;
}
canvas{
  position: absolute;
  z-index: 2;
}
