* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  overflow: hidden;
  background: black;
  cursor: crosshair;
}
.cemetary{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
  z-index: 2;
  width: 100vw;
  filter: blur(4px);
  opacity: 25%;
}
.author{
  font-family: 'Tangerine', cursive;
  font-weight: 200;
  font-size: 3.5em;
  color: rgb(184, 173, 162);
  position: fixed;
  top: 10%;
  right: 15%;
  z-index: 3;
  text-align: right;
}
.title{
  font-family: 'Helvetica';
  font-weight: 300;
  color: black;
  position: fixed;
  bottom: 5%;
  left: 33%;
  z-index: 3;
}
/* .next{
  width: 30%;
  filter: contrast(1);
  position: absolute;
  bottom: -3%;
  right: -3%;
  z-index: 4;
} */
.next{
  position: absolute;
  bottom: 6%;
  right: 6%;
  color: rgb(117, 124, 153);
  font-family: 'Helvetica';
  font-weight: 100;
  font-size: 25px;
  z-index: 4;
}
.next:hover{
  color: white;
  transition-duration: 1s;
  cursor: zoom-in;
}
.underhand{
  transform:rotate(90deg);
  filter: blur(3px);
  position: absolute;
  width: 70%;
  z-index: 1;
  top:-23%;
  opacity: 60%;
}
canvas{
  position: absolute;
  z-index: 2;
}

@keyframes opac{
  0%{
    opacity: 25%;
  }
  50%{
    opacity: 55%;
  }
  100%{
    opacity: 25%;
  }
}
