*{
  box-sizing: border-box;
}
body{
  overflow: hidden;
  background-color: black;
  margin: 0;
  padding: 0;
}
/* Navigation */
a{
  text-decoration: none;
  color: rgb(131, 131, 131);
}
.back, .next{
  font-size: 20px;
  position: fixed;
  bottom: 5%;
  z-index: 3;
}
.back{
  left: 4%;
}
.next{
  right: 4%;
}
.gates{
  position: absolute;
  max-width:100%;
  filter: blur(1px);
  filter: drop-shadow(0 0 0.75rem white);
  bottom: -29%;

  opacity: 60%;
}
p{
  text-indent: 5%;
}
.story{
  padding-top: 2%;
 display: flex;
 flex-flow: row wrap;
 justify-content: space-evenly;
 align-items: stretch;
 font-family: 'Times New Roman';
 font-weight: lighter;
 font-size: 16px;
 line-height: 1.3em;
 color: black;
}
.story:hover{
  filter: blur(0);
}
.writing{
  color: rgb(200, 200, 200);
  font-family: 'Times New Roman';
  font-weight: lighter;
  font-size: 16px;
  line-height: 1.3em;
  position: absolute;
  right: 20%;
  top: 45%;
  width: 500px;
  margin: 0 auto;
  vertical-align: center;
}
.partone, .parttwo, .partthree, .partfour{
  width: 250px;
  filter: blur(5px);
}
.partone:hover, .parttwo:hover, .partthree:hover, .partfour:hover{
  filter: blur(0);
  transition-duration: 0.5s;
}
