*{
  box-sizing: border-box;
}
body{
  overflow: hidden;
  margin: 0;
  padding: 0;
}
/* Navigation */
a{
  text-decoration: none;
  color: rgb(131, 131, 131);
}
.back, .next{
  font-size: 20px;
  position: fixed;
  bottom: 5%;
  z-index: 3;
}
.back{
  left: 4%;
  cursor: w-resize;
}
.next{
  right: 4%;
  cursor: e-resize;
}
/* Hint toggle*/
button{
  position: fixed;
  top:4%;
  right:3%;
  background-color: transparent;
  color: white;
  border: none;
  padding:0;
  font-family: 'Times New Roman';
  font-size: 18px;
  z-index: 4;
}
.secret{
  font-family: 'Times New Roman';
  font-size: 24px;
  position: fixed;
  font-weight: lighter;
  font-style: italic;
  top: 15%;
  right: 20%;
  color: darkred;
  z-index: 5;
  opacity: 0;
}
.active{
  opacity: 90%;
}
h4{
  font-size: 16px;
  font-family: 'Times New Roman';
  font-weight: lighter;
  width: 200px;
  color: black;
  line-height: 1.2em;
}
p{
  text-indent: 5%;
}
.bgimage{
  width: 100vw;
  height: 100vh;
  filter: blur(4px);
  opacity: 20%;
}
#important{
  color: black;
  position: absolute;
  top:30%;
  right: 34%;
  transform: rotate(-30deg);
  cursor: move;
}

#left{
  position: absolute;
  top: 30%;
  left: 40%;
  cursor: move;
}
#tilt{
  position: absolute;
  top: 40%;
  left: 45%;
  transform: rotate(30deg);
  cursor: move;
}
#four{
  position:  absolute;
  bottom: 30%;
  left: 45%;
  transform: rotate(-10deg);
  cursor: move;
}
